<h2 mat-dialog-title>Add a new Identity</h2>

<mat-dialog-content class="w-[20rem]">
  <section [formGroup]="form" class="w-full flex flex-col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Ex: Private network" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>RPC URL</mat-label>
      <input formControlName="rpcUrl" matInput placeholder="Ex: https://testnet.rpc.com" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Network</mat-label>
      <mat-select formControlName="networkPassphrase" required>
        @for (network of networks; track network) {
          <mat-option [value]="network">{{ network }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button (click)="confirm()" [disabled]="form.invalid" mat-raised-button color="primary" class="w-full">
      Confirm
    </button>
  </section>
</mat-dialog-content>
