<h2 mat-dialog-title>Add a new widget</h2>

<mat-dialog-content class="w-[30rem]">
  <section [formGroup]="baseForm" class="w-full flex flex-col">
    <mat-form-field>
      <mat-label>Project</mat-label>
      <mat-select formControlName="project" required>
        @for (projects of projects$ | async; track projects._id) {
          <mat-option [value]="projects._id">{{ projects.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Project Views</mat-label>
      <mat-select formControlName="projectView" required>
        @for (activeProjectView of activeProjectViews$ | async; track activeProjectView._id) {
          <mat-option [value]="activeProjectView._id">{{ activeProjectView.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Widget name</mat-label>
      <input formControlName="name" matInput placeholder="Ex: Core Contract" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Widget Type</mat-label>
      <mat-select formControlName="type" required>
        @for (widgetType of widgetTypes; track widgetType) {
          <mat-option [disabled]="widgetType !== WidgetType.LEDGER_KEY_EXPIRATION && widgetType !== WidgetType.FUNCTION_CALL"
                      [value]="widgetType">
            {{ widgetType }}
            @if (widgetType !== WidgetType.LEDGER_KEY_EXPIRATION && widgetType !== WidgetType.FUNCTION_CALL) {
              (coming soon)
            }
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    @switch (baseForm.value.type) {
      @case (WidgetType.LEDGER_KEY_EXPIRATION) {
        <ng-container [formGroup]="ledgerKeyForm">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option value="CONTRACT_ID">Contract ID</mat-option>
              <mat-option value="CONTRACT_HASH">Code Hash</mat-option>
              <mat-option value="LEDGER_KEY">Ledger Key</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Value</mat-label>
            <input formControlName="value" matInput
                   [placeholder]="ledgerKeyForm.value.type || ''"
                   required>
          </mat-form-field>
        </ng-container>
      }

      @case (WidgetType.FUNCTION_CALL) {
        <ng-container [formGroup]="functionCallForm">
          <mat-form-field>
            <mat-label>Source (optional)</mat-label>
            <input formControlName="source" matInput placeholder="Transaction source">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Function name</mat-label>
            <input formControlName="fnName" matInput placeholder="Ex: mint">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Contract ID</mat-label>
            <input formControlName="contractId" matInput>
          </mat-form-field>

          <h2 class="w-full text-center mb-[1rem]">Function parameters schema</h2>

          <ng-container [ngTemplateOutlet]="FunctionCallParameters"
                        [ngTemplateOutletContext]="{ formArray: functionCallForm.controls.parameters }">
          </ng-container>

          <button (click)="addFunctionCallParameter(functionCallForm.controls.parameters)" class="mx-auto mb-[1rem]" mat-raised-button>Add parameter</button>
        </ng-container>
      }
    }
  </section>

  <button (click)="confirm()"
          mat-raised-button color="primary" class="w-full">
    Confirm
  </button>
</mat-dialog-content>

<ng-template let-control="control" #FormFieldTemplate>
  <mat-form-field class="w-4/12">
    <mat-label>Type</mat-label>
    <mat-select [formControl]="control.controls.type" required>
      @for (type of FunctionCallParameterTypes; track type) {
        <mat-option [value]="type">{{ type }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-8/12">
    <mat-label>Name</mat-label>
    <input [formControl]="control.controls.name" matInput placeholder="Ex: mint" required>
  </mat-form-field>
</ng-template>

<ng-template let-formArray="formArray" #FunctionCallParameters>
  @for (control of $any(formArray.controls); track control) {
    <ng-container [formGroup]="control">
      <div class="w-full flex relative">
        <button (click)="formArray.removeAt($index)" class="absolute top-[-0.5rem] right-[-0.5rem] z-10" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>

        <ng-container [ngTemplateOutlet]="FormFieldTemplate"
                      [ngTemplateOutletContext]="{ control: control }">
        </ng-container>
      </div>

      @if (control.value.type === 'vec' || control.value.type === 'map' || control.value.type === 'mapEntry') {
        <div class="w-full flex flex-col pl-[2rem]" style="border-left: solid 1px #ccc">
          <div class="w-full flex flex-col">
            <ng-container [ngTemplateOutlet]="FunctionCallParameters"
                          [ngTemplateOutletContext]="{ formArray: control.controls.children }">
            </ng-container>
          </div>

          <button (click)="addFunctionCallParameter(control.controls.children)"
                  mat-raised-button class="mb-[1rem]">
            Add item
          </button>
        </div>
      }
    </ng-container>
  }
</ng-template>
