<mat-toolbar class="bg-white shadow-md">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SorobanHub</span>

  <span class="w-full"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<section class="w-full grid grid-cols-[auto_1fr]">

  <div class="bg-[#EEEEEE] p-[1rem]">
    <div class="w-full flex justify-center items-center">
      <button mat-icon-button color="primary">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>



</section>
