<mat-toolbar class="bg-white shadow-md relative">
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <img class="h-4/6" src="/assets/logo/logo.png" alt="">
<!--  <span>SorobanHub</span>-->

  <span class="w-full"></span>

    @if (activeProject$ | async; as project) {
      <span>{{ project.name }}</span>
    }

  <span class="w-full"></span>

  <button mat-icon-button routerLink="/settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<section class="w-full grid grid-cols-[auto_1fr]">

  <div class="flex flex-col bg-[#EEEEEE] p-[1rem]">
    @for (project of projects$ | async; track project._id) {
      <div class="relative w-full mb-[1rem]" [matTooltip]="project.name" matTooltipPosition="right" matTooltipShowDelay="500">
        @if ((activeProject$ | async)?._id === project._id) {
          <mat-icon class="absolute top-1/2" style="transform: translate(-100%, -50%)">arrow_right</mat-icon>
        }

        @if (project.img) {
          <button (click)="onProjectSelected(project)" class="w-[4rem] h-[4rem] bg-center bg-cover"
                  style="background-image: url({{ project.img }})"
                  mat-raised-button>
          </button>
        } @else {
          <button (click)="onProjectSelected(project)" class="w-[4rem] h-[4rem] bg-center bg-cover bg-[#FAFAFA]"
                  mat-raised-button>
            {{ project.name.slice(0, 1) }}
          </button>
        }
      </div>
    }

    <div class="w-full flex justify-center items-center">
      <button (click)="addNewProject()" mat-icon-button color="primary">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>

  @if (!!(projects$ | async)?.length) {
    @if (activeProject$ | async; as activeProject) {
      @if (activeProjectViews$ | async; as activeProjectViews) {
        <mat-tab-group (selectedIndexChange)="activeProjectViewTab$.next($event)"
                       mat-stretch-tabs="false" mat-align-tabs="start"
                       [animationDuration]="300">
          @for (activeProjectView of activeProjectViews; track activeProjectView._id) {
            <mat-tab [label]="activeProjectView.name">
              <section class="w-full p-[1rem] grid grid-cols-12 gap-[1rem]">
                @for (widget of activeProjectViewWidgets$ | async; track widget._id) {
                  @switch (widget.type) {
                    @case (WidgetType.LEDGER_KEY_EXPIRATION) {
                      <app-ledger-expiration-widget class="block col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 3xl:col-span-2"
                                                    [project]="activeProject"
                                                    [widget]="widget">
                      </app-ledger-expiration-widget>
                    }
                  }
                }
              </section>
            </mat-tab>
          } @empty {
            <div class="w-full h-full flex justify-center items-center">
              <h2 class="text-center opacity-50">
                The are no views created for this project
                <br>
                Create a new one to start adding widgets
              </h2>
            </div>
          }
        </mat-tab-group>

        <button (click)="openAddNewList()" mat-fab color="primary" class="fixed right-[1rem] bottom-[1rem]">
          <mat-icon>menu</mat-icon>
        </button>
      }
    } @else {
      <div class="w-full h-full flex justify-center items-center">
        <h2 class="text-center opacity-50">
          Select one of the available projects
        </h2>
      </div>
    }
  } @else {
    <div class="w-full h-full flex justify-center items-center">
      <h2 class="text-center opacity-50">
        There isn't any project yet
        <br>
        Create a new one and start managing it
      </h2>
    </div>
  }

</section>

<ng-template #projectAddList>
  <mat-nav-list>
    <a (click)="addNewProjectView()" mat-list-item>
      <span matListItemTitle>Add new view</span>
      <span matLine>Add a new view to this project</span>
    </a>

    <a (click)="addNewWidget()" mat-list-item [disabled]="!(activeProjectViews$ | async)?.length">
      <span matListItemTitle>Add new widget</span>
      <span matLine>Add a new widget to the current view</span>
    </a>

    <a (click)="removeProjectView()" mat-list-item [disabled]="!(activeProjectViews$ | async)?.length">
      <span matListItemTitle>Remove view</span>
      <span matLine>Remove this view and all its widgets</span>
    </a>

    <a (click)="removeProject()" mat-list-item>
      <span matListItemTitle>Remove project</span>
      <span matLine>Delete the project, its views and widgets</span>
    </a>
  </mat-nav-list>
</ng-template>
