<mat-card class="w-[20rem]">
  <mat-card-content>
    <section class="w-full flex flex-col items-center">
      <img class="w-[8rem] mb-[1rem]" src="/assets/logo/logo.png" alt="">

      <p class="mb-[1rem] text-center">
        SorobanHub is locked, <br> write your password to unlock it.
      </p>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input (keydown.enter)="confirm()"
               [type]="hide ? 'password' : 'text'"
               [formControl]="passwordControl" matInput>
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button (click)="confirm()"
              [disabled]="passwordControl.invalid"
              mat-raised-button
              color="primary"
              class="w-full">
        Confirm
      </button>
    </section>
  </mat-card-content>
</mat-card>
