<mat-toolbar class="col-span-2 bg-white shadow-md relative z-20">
  <button routerLink="/dashboard" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Settings</span>

  <span class="w-full"></span>

  <button mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>

<div class="flex flex-col bg-[#EEEEEE]">
  <mat-nav-list class="py-0">
    <mat-list-item routerLink="/settings/identities" routerLinkActive="bg-[#DDDDDD]">
      <mat-icon class="mr-[1rem]" matListItemIcon>groups</mat-icon>
      <span matListItemTitle>Identities</span>
      <span matListItemLine>Accounts and Contracts</span>
    </mat-list-item>

    <mat-list-item routerLink="/settings/networks" routerLinkActive="bg-[#DDDDDD]">
      <mat-icon class="mr-[1rem]" matListItemIcon>dns</mat-icon>
      <span matListItemTitle>Networks</span>
      <span matListItemLine>RPCs and passphrases</span>
    </mat-list-item>
  </mat-nav-list>
</div>

<div class="col-span-1 p-[1rem] overflow-y-auto">
  <router-outlet></router-outlet>
</div>
