<h2 mat-dialog-title>Edit project {{ data.project.name }}</h2>

<mat-dialog-content class="w-[20rem]">
  <section [formGroup]="form" class="w-full flex flex-col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Ex: SorobanDomains" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Network to use</mat-label>
      <mat-select formControlName="networkId" required>
        @for (network of networks$ | async; track network._id) {
          <mat-option [value]="network._id">{{ network.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Default source account</mat-label>
      <mat-select formControlName="defaultIdentityId" required>
        @for (identity of identities$ | async; track identity._id) {
          <mat-option [value]="identity._id">{{ identity.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Project image</mat-label>
      <input formControlName="img" matInput>
    </mat-form-field>

    <button (click)="confirm()" [disabled]="form.invalid" mat-raised-button color="primary" class="w-full">
      Confirm
    </button>
  </section>
</mat-dialog-content>
