<h2 mat-dialog-title>Add a new Identity</h2>

<mat-dialog-content class="w-[20rem]">
  <section [formGroup]="form" class="w-full flex flex-col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Ex: Admin account" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Ex: G... or C..." required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Default source account</mat-label>
      <mat-select formControlName="type" required>
        @for (type of identityTypes; track type) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button (click)="confirm()" [disabled]="form.invalid" mat-raised-button color="primary" class="w-full">
      Confirm
    </button>
  </section>
</mat-dialog-content>
